<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.eatgo.menu.mapper.MenuMapper">
    <!--common sentence-->
    <sql id="tags">select * from dish_tag</sql>
    <sql id="dishes">select * from dish</sql>

    <!--标签列表-->
    <select id="tagList" resultType="org.eatgo.common.domain.po.DishTag">
        <include refid="tags" />
        <if test="id!=0">
            where categorize_id=#{id}
        </if>
    </select>

    <!--菜品列表-->
    <select id="dishList" resultType="org.eatgo.common.domain.po.Dish">
        <include refid="dishes" />
        <if test="categorizeId!=0">
            where categorize_id=#{categorizeId}
        </if>
        <if test="tagId">
            and tag_id=#{tagId}
        </if>
    </select>

    <!-- 菜品列表根据ids -->
    <select id="dishesByIds" resultType="org.eatgo.common.domain.po.Dish">
        <include refid="dishes" />
        <where>
            <foreach item="item" collection="list" open="id in (" close=")" separator=",">
                #{item}
            </foreach>
            order by field(id,
            <foreach item="item" collection="list" separator=",">
                #{item}
            </foreach>
            )
        </where>
    </select>

    <!-- 推荐列表 -->
    <select id="recommendList" resultType="org.eatgo.common.domain.po.Dish">
        <include refid="dishes"/> order by collection_count desc
    </select>
</mapper>