<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.eatgo.menu.mapper.MenuMapper">
    <!--common sentence-->
    <sql id="tags">select * from dish_tag</sql>
    <sql id="dishes">select * from dish</sql>

    <!--标签列表-->
    <select id="tagList" resultType="org.eatgo.common.domain.po.DishTag">
        <include refid="tags" />
        <if test="id!=0">
            where categorize_id=#{id}
        </if>
    </select>

    <!--菜品列表-->
    <select id="dishList" resultType="org.eatgo.common.domain.po.Dish">
        <include refid="dishes" />
        <if test="categorizeId!=null">
            where categorize_id=#{categorizeId}
        </if>
        <if test="tagId">
            and tag_id=#{tagId}
        </if>
    </select>

    <!-- 菜品列表根据ids -->
    <select id="dishesByIds" resultType="org.eatgo.common.domain.po.Dish">
        <include refid="dishes" />
        <where>
            <foreach item="item" collection="list" open="id in (" close=")" separator=",">
                #{item}
            </foreach>
            order by field(id,
            <foreach item="item" collection="list" separator=",">
                #{item}
            </foreach>
            )
        </where>
    </select>

    <!-- 推荐列表 -->
    <select id="recommendList" resultType="org.eatgo.common.domain.po.Dish">
        <include refid="dishes"/> order by collection_count desc
    </select>

    <!--批量删除分类-->
    <delete id="deleteDishCateByIds">
        delete from dish_cate
            <where>
                id in
            </where>
            <foreach collection="ids" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </delete>

    <!--更新菜品分类-->
    <update id="updateCate">
        update dish_cate
            <set>
                <if test="name!=null">
                    name=#{name}
                </if>
                <if test="icon!=null">
                    ,icon=#{icon}
                </if>
                <if test="banner != null">
                    ,banner=#{banner}
                </if>
            </set>
            where id=#{id}
    </update>

    <!--搜索菜品标签-->
    <select id="SearchDishTagList" resultType="org.eatgo.common.domain.vo.DishTagVo">
        <include refid="tags" />
        <where>
            <if test="subName!=null">
                name like concat('%',#{subName},'%')
            </if>

            <if test="cateId!=null">
                and categorize_id=#{cateId}
            </if>
        </where>
    </select>

    <!--删除标签-->
    <delete id="deleteDishTagById">
        delete from `dish_tag` where id = #{tagId}
    </delete>

    <!--批量删除标签-->
    <delete id="BatchDeleteDishTagByIds">
        delete from `dish_tag`
        <where>
            id in
            <foreach
                    collection="ids"
                    item="id"
                    open="("
                    close=")"
                    separator=","
            >
                #{id}
            </foreach>
        </where>
    </delete>

    <!--更新标签-->
    <update id="updateDishTagById">
        update `dish_tag`
        <set>
            name=#{name}
            ,categorize_id=#{cateId}
        </set>
        <where>
            id=#{id}
        </where>
    </update>
</mapper>